/*  your css code here. If applicable */
#grid{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:1fr 1fr 1fr 1fr 1fr;
	grid-gap:5px;
	height:400px;
}
div{
	background-color:green;
	color:white;
	padding:5px;
	font-size:30px;
}
.item-1{
	grid-column:1 / span 4;
}
.item-2{
	grid-row:2 /span 4;
}
.item-3{
	grid-column:2;
	grid-row:2;
}
.item-4{
	grid-row:2;
	grid-column:3/span 2;
}
.item-5{
	grid-row:3;
	grid-column:2/span 2
}
.item-10{
	grid-column:2/span 3;
}

